
<div class="col-md-9">

  <form method="POST" action="/settings/schedule" id="company_schedule_form">
  <input type="hidden" name="user_id" value="{{employee.id}}">

  {{> user_details/breadcrumb employee=employee }}

  <div class="form-group">
    <label for="" class="control-label">Zeitplan</label>

    <p class="help-block">
      {{# with schedule }}
      {{# if (is_user_specific) }}
        Der aktuelle Mitarbeiter hat einen <strong data-vpp="declare-user-specific-schedule">individuellen</strong> Zeitplan.
      {{else}}
        Der aktuelle Mitarbeiter nutzt den <strong><a data-vpp="link-to-company-schedule" href="/settings/general/">unternehmensweiten</a></strong> Zeitplan.
      {{/if}}
      {{/with}}
    </p>

    <div class="input-group">
      {{> schedule_widget }}
    </div>

  </div>
  <div class="form-group">
    <div class="pull-right">
    {{# with schedule }}
    {{# if (is_user_specific) }}
      <button type="submit" name="revoke_user_specific_schedule" class="btn btn-default">Mitarbeiter in den unternehmensweiten Zeitplan verschieben</button>
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Mitarbeiterspezifischen Zeitplan speichern</button>
    {{else}}
      <button type="submit" name="save_user_specific_schedule" class="btn btn-success">Unternehmensweiten Zeitplan außer Kraft setzen</button>
    {{/if}}
    {{/with}}
    </div>
  </div>
  </form>

</div>
