Bestätigen Sie die Registrierung auf TimeOff.Management
=====
<p>Hallo {{name}},</p>

<p>Um Ihre Registrierung in TimeOff.Management abzuschließen, klicken Sie bitte auf den folgenden Link:</p>

<p>{{confirm_registration_link}}</p>

<p>Danke</p>
