Entscheidung über den Urlaubsantrag wurde getroffen
=====
<p>Hallo <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

{{> email/leave_comments comments=comments }}

<p>Du hast gerade {{#if was_pended_revoke}}die Stornierung des {{/if}}Urlaubsantrags {{>leave_request_detail leave=leave }} für {{#with requester}}{{this.full_name}}{{/with}} bearbeitet: zu {{action}}.</p>

<p>Danke</p>
