Urlaubsantrag wurde storniert
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Ihr Urlaubsantrag <strong>{{>leave_request_detail leave=leave }}</strong> wurde <strong>storniert</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Danke</p>
