Urlaubsantrag wartet auf Entscheidung
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Your leave request <strong>{{>leave_request_detail leave=leave }} was sent</strong> to {{#with approver }}{{this.full_name}}{{/with}}.</p>
<p>Dein Urlaubsantrag <strong>{{>leave_request_detail leave=leave }} wurde an </strong> {{#with approver }}{{this.full_name}}{{/with}}gesendet.</p>

{{> email/leave_comments comments=comments }}

<p>Nach der Entscheidung erhalten Sie eine weitere E-Mail.</p>

<p>Danke</p>
