Neuer Urlaub wurde hinzugefügt
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Dein neuer Urlaubsantrag <strong>{{>leave_request_detail leave=leave }}</strong> wurde hinzugefügt und automatisch genehmigt.</p>

{{> email/leave_comments comments=comments }}

<p>Danke</p>
