Neuer Urlaubsantrag
=====
<p>Hallo <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> hat einen neuen Urlaubsantrag gesendet <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

{{> email/requester_allowance requester=requester requesterAllowance=requesterAllowance}}

<p>Bitte besuche die Seite {{> email/link href=(concatenate (get_application_domain) '/requests/') text='Ausstehende Anträge'}} um ausstehende Anträge zu genehmigen oder abzulehnen.</p>

<p>Danke</p>
