Der Urlaubsantrag wurde {{#if_equal action 'approve'}}akzeptiert{{else}}abgelehnt{{/if_equal}}
=====
<p>Hallo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

{{> email/leave_comments comments=comments }}

<p>{{#with approver }}{{this.full_name}}{{/with}} hat beschlossen <strong>{{action}}</strong> deinen {{#if was_pended_revoke}}Antrag auf Stornierung {{/if}}des Urlaubsantrags <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Danke</p>
