Registrierung abgeschlossen
=====
<p>Hallo <strong>{{user.name}}</strong>,</p>

<p>Vielen Dank für die Registrierung eines neuen Kontos auf {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Danke</p>
