Passwort zur체cksetzen f체r TimeOff.Management
=====
{{# with user ~}}
<p>Hallo <strong>{{this.name}}</strong>,</p>

<p>Dein Passwort f체r {{> email/link href=(get_application_domain) text='TimeOff.Management' }} wurde erfolgreich ge채ndert.</p>

{{~/ with }}

<p>Danke</p>
