
{{> header }}

<div class="jumbotron">
<h1>TimeOff management</h1>
<p class="lead">Open Source Personalfreistellungsmanagement für Unternehmen jeder Größe.</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">Jetzt registrieren</a></p>
<p>or fork us on <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>Abteilungen des Unternehmens</h4>
  <p>Erstellen Sie Abteilungen, um Mitarbeiter zu gruppieren, wobei jede Abteilung ihren eigenen Manager hat.</p>

  <h4>Maßgeschneiderte Urlaubsarten</h4>
  <p>Urlaub, Krankheit, Mutterschaft, Vaterschaft, Arbeit von zu Hause aus usw. Außerdem ist zu konfigurieren, ob ein Typ Urlaubsgeld in Anspruch nimmt oder nicht.</p>

  <h4>Integration von Kalendern</h4>
  <p>Übertragen Sie den Aufenthaltsort von Mitarbeitern in Kalender: Outlook, Gmail. (Arbeit in Arbeit)</p>
</div>

<div class="col-lg-6">
  <h4>Maßgeschneiderte Feiertage</h4>
  <p>Richten Sie Feiertage und unternehmensspezifische Daten ein.</p>

  <h4>Einfacher Workflow</h4>
  <p>Der Arbeitnehmer beantragt Urlaub, der Vorgesetzte sagt ja oder nein.</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
