
{{> header }}

<h1>Massenimport von Mitarbeitern</h1>

<div class="row">
  <div class="col-md-6 lead">Schnelles Importieren von Mitarbeitern</div>
  <div class="col-md-6">
    <a class="btn btn-default pull-right" href="/users/add/" id="add_new_department">Einzelnen Mitarbeiter hinzufügen <i class="fa fa-chevron-right"></i></a>
  </div>

</div>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="/users/">Alle Mitarbeiter</a></li>
      <li class="active">Mitarbeiter in großen Mengen importieren</li>
    </ol>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">In drei einfachen Schritten zum Ziel</p>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <form class="form-horizontal" method="POST" action="/users/import-sample/" id="users_import_sample_form">
      <p class="text-bigger">
        <strong>1.</strong> Laden Sie ein Beispiel für eine <strong>.CSV</strong>-Datei herunter, die auf den derzeit verfügbaren Mitarbeitern basiert:
        <button
          type  = "submit"
          id    = "users_import_sample_btn"
          class = "btn btn-success"
          data-content = "Die Beispieldatei enthält Informationen über Mitarbeiter, die bereits im System sind. Erweitern Sie die Datei um Einträge über neue Mitarbeiter und laden Sie sie über das Formular auf der linken Seite hoch."
          data-placement = "top"
          data-toggle    = "popover"
          data-trigger   = "focus hover"
        ><i class="fa fa-download"></i> Download <strong>.CSV</strong> Musterdatei</button>
      </p>
    </form>

    <p class="text-bigger">
      <strong>2.</strong> Änder die <strong>.CSV</strong>-Datei um Angaben zu neuen Mitarbeitern zu enthalten.
    </p>

    <p class="text-bigger">
      <strong>3.</strong> Upload <strong>.CSV</strong>-Datei:

      <form action="/users/import/" method="post" role="form" enctype="multipart/form-data" class="panel-body">
        <div class="form-group">
          <input id="users_input_inp" type="file" name="users_import">
        </div>
        <div class="form-group">
            <button class="btn btn-success single-click" id="submit_users_btn" type="submit"><i class="fa fa-upload"></i> Mitarbeiter importieren</button>
        </div>
      </form>
    </p>
  </div>
</div>

<div class="row">&nbsp;</div>

{{> footer }}
