
<p>
  In diesem Jahr hat {{#with requester}}{{this.full_name}}{{/with}} bereits
  {{~#with requesterAllowance}} {{this.number_of_days_taken_from_allowance}} {{/with~}}
   Tage vom Urlaubsanspruch genommen. Während {{#with requesterAllowance}} noch {{this.number_of_days_available_in_allowance}} Tage verfügbar sind. {{/with}}
</p>
